In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk
import string
import re
import openpyxl
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

In [2]:
columns = ["content"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\crawlingtweets8.xlsx', usecols=columns)
df.head(2000)

                                               content
0    @rednesia @IndiHome @TelkomCare @Telkomsel Beh...
1    @rednesia @IndiHome @TelkomCare @Telkomsel Beb...
2    @adrianjsiahaan @rednesia @IndiHome @TelkomCar...
3    @rednesia @IndiHome @TelkomCare @Telkomsel Pan...
4    @rednesia @rizkikhaerulfjr @IndiHome @TelkomCa...
..                                                 ...
995  IndiHome, Telkomsel, Simpati sepaket.\nYassala...
996  kita kalo telat bayar tagihan telkomsel dan in...
997  @minhyukbeat i dont use indihome but its a ser...
998  Hadeuh..pya internet backup-an sama2 telkom gr...
999  Untung bukan pengguna telkomsel atau indihome ...

[1000 rows x 1 columns]

In [3]:
df.content.duplicated().sum()

0

In [4]:
df.drop_duplicates(subset="content", keep=False, inplace=True)
df.head(2000)

                                               content
0    @rednesia @IndiHome @TelkomCare @Telkomsel Beh...
1    @rednesia @IndiHome @TelkomCare @Telkomsel Beb...
2    @adrianjsiahaan @rednesia @IndiHome @TelkomCar...
3    @rednesia @IndiHome @TelkomCare @Telkomsel Pan...
4    @rednesia @rizkikhaerulfjr @IndiHome @TelkomCa...
..                                                 ...
995  IndiHome, Telkomsel, Simpati sepaket.\nYassala...
996  kita kalo telat bayar tagihan telkomsel dan in...
997  @minhyukbeat i dont use indihome but its a ser...
998  Hadeuh..pya internet backup-an sama2 telkom gr...
999  Untung bukan pengguna telkomsel atau indihome ...

[1000 rows x 1 columns]

In [5]:
#case folding
df['content'] = df['content'].str.lower()
df.head(2000)

                                               content
0    @rednesia @indihome @telkomcare @telkomsel beh...
1    @rednesia @indihome @telkomcare @telkomsel beb...
2    @adrianjsiahaan @rednesia @indihome @telkomcar...
3    @rednesia @indihome @telkomcare @telkomsel pan...
4    @rednesia @rizkikhaerulfjr @indihome @telkomca...
..                                                 ...
995  indihome, telkomsel, simpati sepaket.\nyassala...
996  kita kalo telat bayar tagihan telkomsel dan in...
997  @minhyukbeat i dont use indihome but its a ser...
998  hadeuh..pya internet backup-an sama2 telkom gr...
999  untung bukan pengguna telkomsel atau indihome ...

[1000 rows x 1 columns]

In [6]:
#cleaning text
import nltk
import string
import re
nltk.download('punkt')

#import word_tokenize & FreqDist from NLTK
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [7]:
#proses cleaning text
def remove_special_tweet(text):
    text = ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)", "", str(text)).split())
    text = re.sub(r'[^a-zA-Z0-9]', ' ', str(text))
    text = re.sub(r'\b\w{1,2}\b', ' ', str(text))
    text = re.sub(r'\s\s+',' ',  str(text))
    text = re.sub(r'\d+', ' ', str(text))
    text = re.sub(r'\b[a-zA-Z]\b', ' ', str(text))
    text = re.sub(r'/(?:https?|ftp):\/\/[\n\S]+/g, ''', ' ', str(text))
    text = re.sub(r'(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)', ' ', str(text))
    text = re.sub(r'[0]', r' ', str(text))
    return text
    return df
df['cleaning_text'] = df['content'].apply(remove_special_tweet)
df.head(2000)

,content,cleaning_text
0,@rednesia @indihome @telkomcare @telkomsel beh...,behance juga tuh
1,@rednesia @indihome @telkomcare @telkomsel beb...,beberapa blog ane lepas cdn nya gara kayak se...
2,@adrianjsiahaan @rednesia @indihome @telkomcar...,sama ini kek saya beberapa hari buka blizzard ...
3,@rednesia @indihome @telkomcare @telkomsel pan...,pantes beberapa hari ini buka stack overflow k...
4,@rednesia @rizkikhaerulfjr @indihome @telkomca...,kesel banget sama etika bisnisnya sampe sekara...
...,...,...
995,"indihome, telkomsel, simpati sepaket.\nyassala...",indihome telkomsel simpati sepaket yassalam
996,kita kalo telat bayar tagihan telkomsel dan in...,kita kalo telat bayar tagihan telkomsel dan in...
997,@minhyukbeat i dont use indihome but its a ser...,dont use indihome but its service also telkom...
998,hadeuh..pya internet backup-an sama2 telkom gr...,hadeuh pya internet backup sama telkom group ...
999,untung bukan pengguna telkomsel atau indihome ...,untung bukan pengguna telkomsel atau indihome ...

In [8]:
Final = df[['cleaning_text']]
Final = Final.rename(columns={'cleaning_text':'tweet'})
Final

                                                 tweet
0                                     behance juga tuh
1    beberapa blog ane lepas cdn nya gara  kayak se...
2    sama ini kek saya beberapa hari buka blizzard ...
3    pantes beberapa hari ini buka stack overflow k...
4    kesel banget sama etika bisnisnya sampe sekara...
..                                                 ...
995       indihome telkomsel simpati sepaket yassalam
996  kita kalo telat bayar tagihan telkomsel dan in...
997   dont use indihome but its service also telkom...
998  hadeuh pya internet backup sama  telkom group ...
999  untung bukan pengguna telkomsel atau indihome ...

[1000 rows x 1 columns]

In [9]:
Final.to_excel('datacoba1.xlsx')