In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_TELKOMSEL\databersih_english_youtube_telkomsel\databersih_english_youtube_telkomsel_1.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['Ngeluh', 'signal', 'Cobain', 'Provider', 'Bl...
1    ['Please', 'Good', 'Abal', 'Win', 'Brand', 'Do...
2            ['', 'song', 'Addin', 'lyrics', 'geh', "]
3    ['Please', 'Fixed', 'Signal', 'Didaearh', 'Sul...
4             ['bankrupt', 'use', 'card', 'hello', '']
..                                                 ...
194                             ['Lagg', 'Severe', '']
195                                         ['That's']
196  ['woi', 'jatim', 'ngeleg', 'signal', 'udh', 'w...
197              ['Min', 'First', 'comment', 'get', "]
198                                         ['Fibber']

[199 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['ngeluh', 'signal', 'cobain', 'provider', 'bl...
1    ['please', 'good', 'abal', 'win', 'brand', 'do...
2            ['', 'song', 'addin', 'lyrics', 'geh', "]
3    ['please', 'fixed', 'signal', 'didaearh', 'sul...
4             ['bankrupt', 'use', 'card', 'hello', '']
..                                                 ...
194                             ['lagg', 'severe', '']
195                                         ['that's']
196  ['woi', 'jatim', 'ngeleg', 'signal', 'udh', 'w...
197              ['min', 'first', 'comment', 'get', "]
198                                         ['fibber']

[199 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.75
Index:  2 label_awal 0.0
Index:  3 label_awal 0.3333333333333333
Index:  4 label_awal 0.0
Index:  5 label_awal -0.03124999999999996
Index:  6 label_awal -0.5499999999999999
Index:  7 label_awal -0.5
Index:  8 label_awal 0.0
Index:  9 label_awal 0.03333333333333335
Index:  10 label_awal 0.0
Index:  11 label_awal 0.0
Index:  12 label_awal 0.35
Index:  13 label_awal 0.0
Index:  14 label_awal 0.4
Index:  15 label_awal -0.75
Index:  16 label_awal 0.8
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal -0.375
Index:  20 label_awal 0.0
Index:  21 label_awal 0.4
Index:  22 label_awal 0.0
Index:  23 label_awal -0.3499999999999999
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal -0.2
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal -0.11666666666666668
Index:  34 label_awal 0.0
Index:  35 label_awal -0.4777777777777778
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.016666666666666635
Index:  39 label_awal 0.375
Index:  40 label_awal 0.2
Index:  41 label_awal -0.08809523809523812
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal 0.2857142857142857
Index:  48 label_awal -0.15555555555555559
Index:  49 label_awal -0.8
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.16666666666666666
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal 0.2
Index:  56 label_awal 0.16666666666666666
Index:  57 label_awal 0.0
Index:  58 label_awal -0.125
Index:  59 label_awal 0.0
Index:  60 label_awal -0.5
Index:  61 label_awal 0.0
Index:  62 label_awal 0.2
Index:  63 label_awal 0.4
Index:  64 label_awal 0.0
Index:  65 label_awal 0.0
Index:  66 label_awal 0.3333333333333333
Index:  67 label_awal 0.4
Index:  68 label_awal 0.2
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.55
Index:  72 label_awal 0.09999999999999999
Index:  73 label_awal 0.0
Index:  74 label_awal -0.3333333333333333
Index:  75 label_awal 0.35714285714285715
Index:  76 label_awal 0.0
Index:  77 label_awal -0.10000000000000002
Index:  78 label_awal 0.0
Index:  79 label_awal 0.8
Index:  80 label_awal -0.13333333333333333
Index:  81 label_awal 0.0
Index:  82 label_awal 0.0
Index:  83 label_awal 0.5
Index:  84 label_awal 0.0
Index:  85 label_awal 0.8
Index:  86 label_awal 0.2
Index:  87 label_awal 0.8
Index:  88 label_awal 0.8
Index:  89 label_awal 0.0
Index:  90 label_awal 0.8
Index:  91 label_awal 1.0
Index:  92 label_awal 0.0
Index:  93 label_awal 0.2
Index:  94 label_awal 0.0
Index:  95 label_awal -0.5
Index:  96 label_awal 0.0
Index:  97 label_awal 0.7
Index:  98 label_awal 0.4666666666666666
Index:  99 label_awal 0.8
Index:  100 label_awal 0.0
Index:  101 label_awal 0.0
Index:  102 label_awal 0.7
Index:  103 label_awal 0.0
Index:  104 label_awal 0.0
Index:  105 label_awal 0.0
Index:  106 label_awal 0.35
Index:  107 label_awal 0.8
Index:  108 label_awal 0.0
Index:  109 label_awal 0.0
Index:  110 label_awal 0.0
Index:  111 label_awal 0.0
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0
Index:  114 label_awal 0.3333333333333333
Index:  115 label_awal 0.0
Index:  116 label_awal -0.4
Index:  117 label_awal 0.0
Index:  118 label_awal 0.0
Index:  119 label_awal 0.0
Index:  120 label_awal 0.5
Index:  121 label_awal -0.24000000000000005
Index:  122 label_awal 0.0
Index:  123 label_awal 0.0
Index:  124 label_awal 0.0
Index:  125 label_awal 0.0
Index:  126 label_awal 0.0
Index:  127 label_awal 0.0
Index:  128 label_awal 0.0
Index:  129 label_awal 0.0
Index:  130 label_awal 0.05000000000000002
Index:  131 label_awal 0.0
Index:  132 label_awal 0.8
Index:  133 label_awal 0.0
Index:  134 label_awal 0.0
Index:  135 label_awal 0.0
Index:  136 label_awal 0.2
Index:  137 label_awal 0.0
Index:  138 label_awal 0.0
Index:  139 label_awal 0.0
Index:  140 label_awal 0.0
Index:  141 label_awal 0.0
Index:  142 label_awal 0.0
Index:  143 label_awal 0.3
Index:  144 label_awal 0.05555555555555555
Index:  145 label_awal 0.16666666666666666
Index:  146 label_awal 0.0
Index:  147 label_awal 0.02500000000000006
Index:  148 label_awal 0.16666666666666666
Index:  149 label_awal -0.15555555555555559
Index:  150 label_awal -0.1875
Index:  151 label_awal 0.42500000000000004
Index:  152 label_awal 0.0
Index:  153 label_awal 0.0
Index:  154 label_awal 0.7
Index:  155 label_awal 0.375
Index:  156 label_awal 0.0
Index:  157 label_awal -0.6999999999999998
Index:  158 label_awal 0.5
Index:  159 label_awal 0.0
Index:  160 label_awal 0.0
Index:  161 label_awal 0.375
Index:  162 label_awal 0.0
Index:  163 label_awal 0.0
Index:  164 label_awal -0.5
Index:  165 label_awal 0.35
Index:  166 label_awal 0.0
Index:  167 label_awal 0.0
Index:  168 label_awal 0.0
Index:  169 label_awal 0.35
Index:  170 label_awal 0.0
Index:  171 label_awal 0.06666666666666668
Index:  172 label_awal 0.0
Index:  173 label_awal 0.16666666666666666
Index:  174 label_awal 0.0
Index:  175 label_awal 0.7
Index:  176 label_awal 0.2
Index:  177 label_awal 0.0
Index:  178 label_awal 0.0
Index:  179 label_awal 0.8
Index:  180 label_awal -0.05000000000000002
Index:  181 label_awal 0.5
Index:  182 label_awal 0.0
Index:  183 label_awal 0.0
Index:  184 label_awal 0.0
Index:  185 label_awal 0.0
Index:  186 label_awal 0.0
Index:  187 label_awal 0.0
Index:  188 label_awal 0.0
Index:  189 label_awal 0.0
Index:  190 label_awal 0.7
Index:  191 label_awal -0.15555555555555559
Index:  192 label_awal 0.0
Index:  193 label_awal 0.35
Index:  194 label_awal 0.0
Index:  195 label_awal 0.0
Index:  196 label_awal 0.0
Index:  197 label_awal 0.25
Index:  198 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['ngeluh', 'signal', 'cobain', 'provider', 'bl...        0.0
1  ['please', 'good', 'abal', 'win', 'brand', 'do...       0.75
2          ['', 'song', 'addin', 'lyrics', 'geh', "]        0.0
3  ['please', 'fixed', 'signal', 'didaearh', 'sul...   0.333333
4           ['bankrupt', 'use', 'card', 'hello', '']        0.0

In [6]:
df['label_awal'].value_counts()

 0.000000    110
 0.800000     10
 0.200000      8
 0.350000      5
 0.700000      5
 0.166667      5
 0.400000      4
-0.500000      4
 0.500000      4
 0.375000      3
 0.333333      3
-0.155556      3
 0.050000      1
 1.000000      1
 0.466667      1
-0.400000      1
-0.240000      1
 0.033333      1
-0.100000      1
 0.300000      1
 0.055556      1
 0.025000      1
-0.187500      1
 0.425000      1
-0.700000      1
 0.066667      1
-0.050000      1
-0.133333      1
 0.100000      1
 0.357143      1
-0.333333      1
-0.750000      1
-0.550000      1
-0.375000      1
-0.350000      1
-0.200000      1
-0.116667      1
-0.477778      1
 0.016667      1
-0.031250      1
-0.088095      1
 0.285714      1
-0.800000      1
 0.750000      1
-0.125000      1
 0.550000      1
 0.250000      1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['ngeluh', 'signal', 'cobain', 'provider', 'bl...  positive
1    ['please', 'good', 'abal', 'win', 'brand', 'do...  positive
2            ['', 'song', 'addin', 'lyrics', 'geh', "]  positive
3    ['please', 'fixed', 'signal', 'didaearh', 'sul...  positive
4             ['bankrupt', 'use', 'card', 'hello', '']  positive
..                                                 ...       ...
194                             ['lagg', 'severe', '']  positive
195                                         ['that's']  positive
196  ['woi', 'jatim', 'ngeleg', 'signal', 'udh', 'w...  positive
197              ['min', 'first', 'comment', 'get', "]  positive
198                                         ['fibber']  positive

[199 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    173
negative     26
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_telkomsel_1.xlsx')