In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_5.xlsx', usecols=columns)
df.head(2000)

                                      comment_english
0          ['Indihome', 'Standard', 'Low', 'Lot', '']
1                 ['Real', 'Life', 'Different', 'Ad']
2                           ['right', 'play', 'mlbb']
3                              ['Steady', 'Indihome']
4                  ['Mas', 'Agus', 'Mas', 'prass', "]
..                                                ...
84  ['emang', 'Telkom', 'stoppage', 'subscribe', '...
85  ['Pay', 'tags', 'fine', 'person', 'prosecutor'...
86                 ['Original', 'chaotic', 'chaotic']
87         ['', 'Kaga', 'Pay', 'already', 'thousand']
88             ['', 'get', 'JTA', 'Nunggak', 'Doang']

[89 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                      comment_english
0          ['indihome', 'standard', 'low', 'lot', '']
1                 ['real', 'life', 'different', 'ad']
2                           ['right', 'play', 'mlbb']
3                              ['steady', 'indihome']
4                  ['mas', 'agus', 'mas', 'prass', "]
..                                                ...
84  ['emang', 'telkom', 'stoppage', 'subscribe', '...
85  ['pay', 'tags', 'fine', 'person', 'prosecutor'...
86                 ['original', 'chaotic', 'chaotic']
87         ['', 'kaga', 'pay', 'already', 'thousand']
88             ['', 'get', 'jta', 'nunggak', 'doang']

[89 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.1
Index:  2 label_awal 0.2857142857142857
Index:  3 label_awal 0.16666666666666666
Index:  4 label_awal 0.0
Index:  5 label_awal -0.07777777777777779
Index:  6 label_awal 0.0
Index:  7 label_awal -0.2
Index:  8 label_awal 0.0
Index:  9 label_awal -0.5
Index:  10 label_awal 0.0
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.0
Index:  15 label_awal 0.0
Index:  16 label_awal -0.1
Index:  17 label_awal 0.0
Index:  18 label_awal 0.35
Index:  19 label_awal 0.0
Index:  20 label_awal -0.3
Index:  21 label_awal 0.21857142857142858
Index:  22 label_awal -0.06349206349206349
Index:  23 label_awal -0.04166666666666666
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.0
Index:  27 label_awal 0.0
Index:  28 label_awal 0.4333333333333334
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.4166666666666667
Index:  32 label_awal 0.0
Index:  33 label_awal 0.4166666666666667
Index:  34 label_awal 0.20416666666666666
Index:  35 label_awal 0.0
Index:  36 label_awal 0.4166666666666667
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal -0.5
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal -0.4333333333333333
Index:  45 label_awal 0.0
Index:  46 label_awal -0.13333333333333333
Index:  47 label_awal 0.09375
Index:  48 label_awal 0.24761904761904763
Index:  49 label_awal -0.04166666666666666
Index:  50 label_awal 0.2857142857142857
Index:  51 label_awal 0.4166666666666667
Index:  52 label_awal 0.16249999999999998
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal 0.8
Index:  56 label_awal 0.0
Index:  57 label_awal 0.4166666666666667
Index:  58 label_awal 0.0
Index:  59 label_awal 0.07777777777777777
Index:  60 label_awal 0.0
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.30833333333333335
Index:  64 label_awal 0.0464285714285714
Index:  65 label_awal -0.2
Index:  66 label_awal 0.0
Index:  67 label_awal 0.375
Index:  68 label_awal 0.4
Index:  69 label_awal 0.0
Index:  70 label_awal -0.25
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal -0.5
Index:  74 label_awal 0.4928571428571429
Index:  75 label_awal 0.0
Index:  76 label_awal 0.3055555555555556
Index:  77 label_awal 0.0
Index:  78 label_awal 0.0
Index:  79 label_awal 0.0
Index:  80 label_awal 0.0
Index:  81 label_awal 0.0
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.4166666666666667
Index:  86 label_awal 0.375
Index:  87 label_awal 0.0
Index:  88 label_awal 0.0

In [5]:
df.head()

                              comment_english label_awal
0  ['indihome', 'standard', 'low', 'lot', '']        0.0
1         ['real', 'life', 'different', 'ad']        0.1
2                   ['right', 'play', 'mlbb']   0.285714
3                      ['steady', 'indihome']   0.166667
4          ['mas', 'agus', 'mas', 'prass', "]        0.0

In [6]:
df['label_awal'].value_counts()

 0.000000    49
 0.416667     6
-0.500000     3
-0.200000     2
-0.041667     2
 0.375000     2
 0.285714     2
-0.250000     1
 0.400000     1
 0.093750     1
 0.046429     1
 0.308333     1
 0.077778     1
 0.492857     1
 0.800000     1
 0.162500     1
 0.247619     1
 0.204167     1
-0.133333     1
-0.433333     1
 0.100000     1
 0.433333     1
-0.063492     1
 0.218571     1
-0.300000     1
 0.350000     1
-0.100000     1
-0.077778     1
 0.166667     1
 0.305556     1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0          ['indihome', 'standard', 'low', 'lot', '']  positive
1                 ['real', 'life', 'different', 'ad']  positive
2                           ['right', 'play', 'mlbb']  positive
3                              ['steady', 'indihome']  positive
4                  ['mas', 'agus', 'mas', 'prass', "]  positive
..                                                ...       ...
84  ['emang', 'telkom', 'stoppage', 'subscribe', '...  positive
85  ['pay', 'tags', 'fine', 'person', 'prosecutor'...  positive
86                 ['original', 'chaotic', 'chaotic']  positive
87         ['', 'kaga', 'pay', 'already', 'thousand']  positive
88             ['', 'get', 'jta', 'nunggak', 'doang']  positive

[89 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    75
negative    14
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_5.xlsx')