In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_TELKOMSEL\databersih_english_youtube_telkomsel\databersih_english_youtube_telkomsel_11.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['network', 'right', 'think', 'profit', 'provi...
1              ['Moga', 'card', 'Telkomsel', 'gloomy']
2    ['Please', 'net', 'good', 'area', 'kec', 'gamp...
3          ['Mari', 'prayer', 'Telkomsel', 'bankrupt']
4    ['said', 'postpaid', 'complicated', 'asking', ...
..                                                 ...
105                 ['ilang', 'Mulu', 'signal', 'COK']
106                        ['signal', 'skrang', 'njs']
107                             ['Good', 'net', 'you']
108                                        ['Woyyyyy']
109                           ['Bankrupt', 'bankrupt']

[110 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['network', 'right', 'think', 'profit', 'provi...
1              ['moga', 'card', 'telkomsel', 'gloomy']
2    ['please', 'net', 'good', 'area', 'kec', 'gamp...
3          ['mari', 'prayer', 'telkomsel', 'bankrupt']
4    ['said', 'postpaid', 'complicated', 'asking', ...
..                                                 ...
105                 ['ilang', 'mulu', 'signal', 'cok']
106                        ['signal', 'skrang', 'njs']
107                             ['good', 'net', 'you']
108                                        ['woyyyyy']
109                           ['bankrupt', 'bankrupt']

[110 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.34285714285714286
Index:  1 label_awal 0.0
Index:  2 label_awal 0.35
Index:  3 label_awal 0.0
Index:  4 label_awal -0.23666666666666658
Index:  5 label_awal 0.06666666666666665
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.6
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal 0.09999999999999998
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.0
Index:  15 label_awal 0.8
Index:  16 label_awal 0.3
Index:  17 label_awal -0.30000000000000004
Index:  18 label_awal 0.0
Index:  19 label_awal 0.2857142857142857
Index:  20 label_awal 0.44999999999999996
Index:  21 label_awal 0.45
Index:  22 label_awal 0.0
Index:  23 label_awal 0.0
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.2
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.0
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.2
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.0
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal -0.4
Index:  46 label_awal -0.3
Index:  47 label_awal 0.0
Index:  48 label_awal 0.0
Index:  49 label_awal 0.2857142857142857
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.1
Index:  53 label_awal 0.4666666666666666
Index:  54 label_awal 0.0
Index:  55 label_awal -0.11666666666666668
Index:  56 label_awal -0.07777777777777779
Index:  57 label_awal 0.0
Index:  58 label_awal -0.38
Index:  59 label_awal 0.2857142857142857
Index:  60 label_awal 0.7
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.16666666666666666
Index:  65 label_awal 0.0
Index:  66 label_awal -0.4
Index:  67 label_awal 0.1
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal 0.0
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal 0.0
Index:  77 label_awal 0.0
Index:  78 label_awal 0.0
Index:  79 label_awal 0.0
Index:  80 label_awal 0.09999999999999999
Index:  81 label_awal 0.3
Index:  82 label_awal 0.175
Index:  83 label_awal 5.551115123125783e-17
Index:  84 label_awal 0.3
Index:  85 label_awal 0.2
Index:  86 label_awal 0.0
Index:  87 label_awal 0.0
Index:  88 label_awal 0.35
Index:  89 label_awal 0.4
Index:  90 label_awal 0.0
Index:  91 label_awal -0.2351851851851852
Index:  92 label_awal 0.7
Index:  93 label_awal 0.0
Index:  94 label_awal -0.45
Index:  95 label_awal 0.1875
Index:  96 label_awal 0.13636363636363635
Index:  97 label_awal 0.0
Index:  98 label_awal 0.2611111111111111
Index:  99 label_awal 0.3
Index:  100 label_awal 0.0
Index:  101 label_awal 0.0
Index:  102 label_awal 0.375
Index:  103 label_awal 0.0
Index:  104 label_awal 0.7
Index:  105 label_awal 0.0
Index:  106 label_awal 0.0
Index:  107 label_awal 0.35
Index:  108 label_awal 0.0
Index:  109 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['network', 'right', 'think', 'profit', 'provi...   0.342857
1            ['moga', 'card', 'telkomsel', 'gloomy']        0.0
2  ['please', 'net', 'good', 'area', 'kec', 'gamp...       0.35
3        ['mari', 'prayer', 'telkomsel', 'bankrupt']        0.0
4  ['said', 'postpaid', 'complicated', 'asking', ...  -0.236667

In [6]:
df['label_awal'].value_counts()

 0.000000e+00    65
 3.000000e-01     4
 7.000000e-01     3
 3.500000e-01     3
 2.000000e-01     3
 2.857143e-01     3
-4.000000e-01     2
 1.000000e-01     2
-2.351852e-01     1
-3.800000e-01     1
-4.500000e-01     1
 5.551115e-17     1
 1.750000e-01     1
 1.875000e-01     1
 1.363636e-01     1
 1.000000e-01     1
 2.611111e-01     1
 1.666667e-01     1
 4.000000e-01     1
 3.428571e-01     1
-7.777778e-02     1
-1.166667e-01     1
 4.666667e-01     1
-3.000000e-01     1
 4.500000e-01     1
 4.500000e-01     1
-3.000000e-01     1
 8.000000e-01     1
 1.000000e-01     1
 6.000000e-01     1
 6.666667e-02     1
-2.366667e-01     1
 3.750000e-01     1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['network', 'right', 'think', 'profit', 'provi...  positive
1              ['moga', 'card', 'telkomsel', 'gloomy']  positive
2    ['please', 'net', 'good', 'area', 'kec', 'gamp...  positive
3          ['mari', 'prayer', 'telkomsel', 'bankrupt']  positive
4    ['said', 'postpaid', 'complicated', 'asking', ...  negative
..                                                 ...       ...
105                 ['ilang', 'mulu', 'signal', 'cok']  positive
106                        ['signal', 'skrang', 'njs']  positive
107                             ['good', 'net', 'you']  positive
108                                        ['woyyyyy']  positive
109                           ['bankrupt', 'bankrupt']  positive

[110 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    100
negative     10
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_telkomsel_11.xlsx')